<!DOCTYPE html>
{% load static %}
<html lang="ko">
  {% include 'head.html' %}
  <body>
    <div class="banner">
      <img src="{% static 'img.png' %}" />
    </div>
    <div class="categories, tabs is-centered is-boxed">
      <ul class="category" id="category">
        <li><a href="{% url 'home' %}">전체</a></li>
        <li><a href="{% url 'lists' board_category='KOREAN' %}">한식</a></li>
        <li><a href="{% url 'lists' board_category='WESTERN' %}">양식</a></li>
        <li><a href="{% url 'lists' board_category='CHINESE' %}">중식</a></li>
        <li><a href="{% url 'lists' board_category='JAPANESE' %}">일식</a></li>
        <li>
          <a href="{% url 'lists' board_category='SCHOOL FOOD' %}">분식</a>
        </li>
        <li>
          <a href="{% url 'lists' board_category='BAKERY' %}">베이커리</a>
        </li>
        <li>
          <a href="{% url 'lists' board_category='BEVERAGE' %}">커피음료</a>
        </li>
        <li><a href="{% url 'lists' board_category='OTHERS' %}">그외</a></li>
        <li>
          <a id="new" href="{% url 'new' %}">새 리뷰 쓰기</a>
        </li>
      </ul>
    </div>
    <div class="contents">{% block content %} {% endblock %}</div>
  </body>
</html>
