<!DOCTYPE html>
<html lang="ko">
  {% include 'head.html' %}
  <body>
    <h1>오늘 뭐먹지???</h1>
    <div class="categories">
      <p><a href="{% url 'home' %}">전체</a></p>
      <p><a href="{% url 'lists' board_category='KR' %}">한식</a></p>
      <p><a href="{% url 'lists' board_category='EA' %}">양식</a></p>
      <p><a href="{% url 'lists' board_category='CH' %}">중식</a></p>
      <p><a href="{% url 'lists' board_category='JP' %}">일식</a></p>
      <p><a href="{% url 'lists' board_category='SF' %}">분식</a></p>
      <p><a href="{% url 'lists' board_category='BR' %}">베이커리</a></p>
      <p><a href="{% url 'lists' board_category='BEV' %}">커피음료</a></p>
      <p><a href="{% url 'lists' board_category='OTHERS' %}">그외</a></p>
    </div>

    <a class="button" href="{% url 'new' %}">새 리뷰 쓰기</a>

    <div class="contents">{% block content %} {% endblock %}</div>
  </body>
</html>
