{% extends 'base.html' %}
{% block content %}

<br>
<div class="container">
    <form action="{% url 'update' board.id %}">
        <h2>카테고리: 
            <select name="category">
                <option value="KOREAN" {% if board.category == "KOREAN" %} selected="selected"{% endif %}>한식</option>
                <option value="WESTERN" {% if board.category == "WESTERN" %} selected="selected"{% endif %}>양식</option>
                <option value="CHINESE" {% if board.category == "CHINESE" %} selected="selected"{% endif %}>중식</option>
                <option value="JAPANESE" {% if board.category == "JAPANESE" %} selected="selected"{% endif %}>일식</option>
                <option value="SCHOOL FOOD" {% if board.category == "SCHOOL FOOD" %} selected="selected"{% endif %}>분식</option>
                <option value="BAKERY" {% if board.category == "BAKERY" %} selected="selected"{% endif %}>베이커리</option>
                <option value="BEVERAGE" {% if board.category == "BEVERAGE" %} selected="selected"{% endif %}>커피음료</option>
                <option value="OTHERS" {% if board.category == "OTHERS" %} selected="selected"{% endif %}>그외</option>
            </select>
        </h2>
        <h2 class="title">가게 이름:
            <input type="text" name="title" class="input" value="{{ board.title }}">
        </h2>
        <h2>별점: 
            <select name="points">
                <option value="1" {% if board.points == "1" %} selected="selected"{% endif %}>1</option>
                <option value="2" {% if board.points == "2" %} selected="selected"{% endif %}>2</option>
                <option value="3" {% if board.points == "3" %} selected="selected"{% endif %}>3</option>
                <option value="4" {% if board.points == "4" %} selected="selected"{% endif %}>4</option>
                <option value="5" {% if board.points == "5" %} selected="selected"{% endif %}>5</option>
            </select>
        </h2>
        <h2>내용: </h2>
        <textarea class="textarea" name="body" rows="10">{{ board.body }}</textarea>
        <br>
        <br>
        <input class="button" type="submit" value="작성하기">
    </form>
</div>

{% endblock %}